# config.json
# Конфигурация с паролями
config.json
config.local.json
config.prod.json
*.secret.json
users.json

# tests
tests/

# Логи
logs/
*.log

# Сертификаты
pki/
*.pem
*.der
*.key



# Переменные окружения
.env
.env.local
.env.prod

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Тесты
.pytest_cache/
.coverage
htmlcov/
.tox/

# База данных (если локальная)
*.db
*.sqlite
*.sqlite3

# Временные файлы
tmp/
temp/
*.tmp