{
  "app": {
    "name": "SystemX OPC UA Server",
    "version": "1.1.0",
    "namespace_uri": "http://server"
  },
  "server": {
    "endpoint": "opc.tcp://0.0.0.0:4840/",
    "security": {
      "enable_encryption": false,
      "certificate": null,
      "private_key": null
    }
  },
  "database": {
    "default": {
      "dbname": "CHANGE_ME",
      "host": "127.0.0.1",
      "user": "CHANGE_ME",
      "password": "CHANGE_ME",  ← Заглушка вместо пароля!
      "port": 5432,
      "connect_timeout": 10
    }
  },
  "polling": {
    "notify_timeout_sec": 5,
    "update_interval_sec": 5,
    "default_period_min": 1440
  },
  "commands": {
    "executor_enabled": true,
    "queue_size": 100,
    "poll_interval_sec": 2,
    "worker_threads": 1
  },
  "hot_reload": {
    "enabled": true,
    "interval_sec": 30
  },
  "logging": {
    "level": "INFO",
    "format": "%(asctime)s [%(levelname)s] %(name)s: %(message)s",
    "file": null
  }
}